services:
  node1:
    image: mysql:8.0-debian
    container_name: node1
    hostname: node1
    environment: 
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - ./config/node1.cnf:/etc/mysql/my.cnf
    ports:
      - "3306:3306"
    networks:
      - mysql-cluster

  node2:
    image: mysql:8.0-debian
    container_name: node2
    hostname: node2
    environment: 
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - ./config/node2.cnf:/etc/mysql/my.cnf
    ports:
      - "3307:3306"
    depends_on:
      - node1
    networks:
      - mysql-cluster

  node3:
    image: mysql:8.0-debian
    container_name: node3
    hostname: node3
    environment: 
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - ./config/node3.cnf:/etc/mysql/my.cnf
    ports:
      - "3308:3306"
    depends_on:
      - node1
    networks:
      - mysql-cluster

networks:
  mysql-cluster: