services:
  primary:
    image: mysql:8.0-debian
    container_name: primary
    hostname: primary
    environment: 
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - ./config/primary.cnf:/etc/mysql/my.cnf
    ports:
      - "3306:3306"
    networks:
      - mysql-cluster

  replica1:
    image: mysql:8.0-debian
    container_name: replica1
    hostname: replica1
    environment: 
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - ./config/replica1.cnf:/etc/mysql/my.cnf
    ports:
      - "3307:3306"
    depends_on:
      - primary
    networks:
      - mysql-cluster

  replica2:
    image: mysql:8.0-debian
    container_name: replica2
    hostname: replica2
    environment: 
      MYSQL_ROOT_PASSWORD: pass
    volumes:
      - ./config/replica2.cnf:/etc/mysql/my.cnf
    ports:
      - "3308:3306"
    depends_on:
      - primary
    networks:
      - mysql-cluster

networks:
  mysql-cluster: